@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * ASTERISCO* = todas as tags */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* * VH = Viewport Height - Altura da visualização NAVEGADOR */
    /* * Min-height = altura minima = maximo não diminui */
    min-height: 100vh;
    background: linear-gradient(135deg, #5a639c, #7776b3);
    padding: 10px;
}

.task-app{
    /* * Width = 100% o pai */
    /* ^ max-width = limita ele a 540px ao máximo */
    width: 100%;
    max-width: 540px;
    background-color: white;
    /* Forma resumida 3: - Seguindo sentido horário
    100px = top
    auto = right
    20px = bottom
    auto = left (copiou do right) */
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px;
}

.task-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-app img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    /* * É uma propriedade geral de tamanho.
    * dizendo que ele vai aumentar ou diminuir dependendo do espaço
    * é um resumo do flex-grow e flex-shrink colocando '1' nos dois */
    /* ^ flex só funciona para filhos de pai flex */
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
}

input::placeholder{
    color: #002765;
    opacity: 0.7;
}

button{
    border: none;
    outline: none;
    padding: 20px 50px;
    background-color: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    /* * list-style: none = tira os pontinhos */
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    /* * USER-SELECT:NONE = não permite seleção do texto */
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* * 02/10/2024 */
/* ^ Pseudo-elemento before
^ Ele "cria" um elemento antes do LI
^ Isso quer dizer que as propriedades internas são
^ neste elemento/tag criado via CSS */
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url('../img/desmarcado.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    transition: all 0.4s;
}
/* * O item da lista MARCADA
^ Esta classe checked será adiciona via Javascript.
^ Quando a pessoa clicar para marcar como tarefa concluída*/
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
/* ^ Pseudoelemento Antes da tarefa que ESTÁ MARCADA */
ul li.checked::before{
    background-image: url('../img/marcado.png');
}
/* * O span dentro do li será adicionado via JAVASCRIPT  */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}